body {
    margin: 0;
}

.menu {
	display: block;
    position: fixed;
    list-style: none;
    background: rgb(32,178,170);
    width: 100%;
    text-align: center;
    moz-border-radius-bottomleft: 5px;
    moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.menu li {
	display: inline-block;
	margin-right: 30px;
}

.menu a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.menu a:hover {
	text-decoration: underline;
}