<html>
<head>
	<title>TaskTracker</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
	<div class="menu"><ul>
    	<li><a href="/">TaskTracker</a></li>
    	<li><a href="/login/">Login</a></li>
    	<li><a href="/">About us</a></li>
	</ul></div>
	<div class="registration">
		<form>
			<h2>Name</h2>
			<input type="text"></input>
			<h2>Password</h2>
			<input type="text"></input><br>
			<input type="submit" name="submit" id="submit" title="Sign in">
		</form>
	</div>
</body>
</html>