    <html>
    <head>
    	<title>{{ project.title }}</title>
    	{% load staticfiles %}
    	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(
                function(){
                    setInterval(function() {
                        location.reload();
                    }, 30000);
                });
        </script>
    </head>
    <body>
    	<div class="menu"><ul>
        	<li><a href="/">TaskTracker</a></li>
        	<li><a href="/login/">Login</a></li>
        	<li><a href="/register/">Register</a></li>
        	<li>
        		<form method="post" action="/logout/">
        			{% csrf_token %}
        			<input type="hidden" name="next" value="{% url 'index' %}" />
        			<input type="submit" value="Logout" id="submit">
        		</form>
        	</li>
    	</ul></div>
    <div class="content" id="content">
        <h1>{{ project.title  }}</h1>
        <p>{{ project.description }}</p>
        <p>{{ task.due_time.date }}</p>
        <form name="RemoveTaskForm" id="form" method="post" action="/remove_project/">
            {% csrf_token %}
            <input type="hidden" id="id_task_id" name="task_id" value="{{ project.id }}" />
            <input type="submit" value="Delete Project" id="submit">
        </form>

        {% if tasks_list %}
        <ul>
            {% for c in tasks_list %}
                <li>{% if c.due_date %} {{ c.due_date }} {% endif %}<a href="/tasks/{{ c.id }}/"><h3>{{ c.title }}</h3></a>
                 {{ c.description }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No tasks are available.</p>
        {% endif %}
    </div>
    <div class="registration">
        <h3 align="center">Add Task</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add" id="submit">
        </form>
    </div>
    </body>
    </html>