    <html>
    <head>
    	<title>{{ task.title  }}</title>
    	{% load staticfiles %}
    	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    </head>
    <body>
    	<div class="menu"><ul>
        	<li><a href="/">TaskTracker</a></li>
        	<li><a href="/login/">Login</a></li>
        	<li><a href="/register/">Register</a></li>
        	<li>
        		<form method="post" action="/logout/">
        			{% csrf_token %}
        			<input type="hidden" name="next" value="{% url 'index' %}" />
        			<input type="submit" value="Logout" id="submit">
        		</form>
        	</li>
    	</ul></div>
    <div class="content">
        <h1>{{ project.title  }}</h1>
        <p>{{ project.description }}</p>
        <p>{{ task.due_time.date }}</p>
        <form name="RemoveTaskForm" id="form" method="post" action="/remove_project/">
            {% csrf_token %}
            <input type="hidden" id="id_task_id" name="task_id" value="{{ project.id }}" />
            <input type="submit" value="Delete Project" id="submit">
        </form>

        {% if tasks_list %}
        <ul>
            {% for c in tasks_list %}
                <li><h3>{{ c.title }}<br> {% if c.due_date %} {{ c.due_date }} {% endif %}</h3> {{ c.description }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No tasks are available.</p>
        {% endif %}
    </div>
    <div class="registration">
        <form method="post" action="">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add" id="submit">
        </form>
    </div>
    </body>
    </html>