{% if tasks_list %}
    <ul>
    {% for t in tasks_list %}
        <li><a href="/tasks/{{ t.id }}/">{{ t.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available.</p>
{% endif %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="create_task" method="post">
{% csrf_token %}
	<p><label for="title">Title:</label>
    <input type="text" name="title" size="50"/></p>
    <p><label for="description">Description:</label>
    <input name="description" size="100"></p>
<input type="submit" value="Add">
</form>