<html>
<head>
    <title>Tasks</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script type="text/javascript">
        function submit() {
            document.statusform.submit();
        }
    </script>
</head>
<body>
	<div class="menu"><ul>
    	<li><a href="/">TaskTracker</a></li>
    	<li><a href="/login/">Login</a></li>
    	<li><a href="/register/">Register</a></li>
    	<li>
    		<form method="post" action="/logout/">
    			{% csrf_token %}
    			<input type="hidden" name="next" value="{% url 'index' %}" />
    			<input type="submit" value="Logout" id="submit">
    		</form>
    	</li>
	</ul></div>
<div class="title"><h2>Tasks</h2></div>
<a href="/tasks/create/">Create new task</a>
{% if projects_list %}
    <h1>Projects</h1>
    <ul>
    {% for t in projects_list %}
        <li>
            <a href="/{{ t.id }}/">{{ t.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}
{% if tasks_list %}
    <h1>Tasks</h1>
    <ul>
    {% for t in tasks_list %}
        <li>
            <form name="statusform" id="form" method="post" action="/tasks/">
                {% csrf_token %}
                <input type="hidden" id="id_task_id" name="task_id" value="{{ t.id }}" />
                {% if t.status %}
                    <input id="id_status" type="checkbox" checked name="status" onClick="submit()">
                {% else %}
                    <input id="id_status" type="checkbox" name="status" onClick="submit()">
                {% endif %}
                <a href="/tasks/{{ t.id }}/">{{ t.title }}</a>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available.</p>
{% endif %}
</body>
</html>